'scopeName': 'source.rpgle'
'name': 'RPGLE'
'fileTypes': ['rpg', 'rpgle', 'sqlrpgle']

'patterns': [
    {
      'match': '\^(\\*\\*FREE)\\b'
      'captures':
        '1':
            'name': 'keyword.control.rpgle'
    },
    {
      'match': '\\s(Dcl-Proc)\\s+\\w'
      'captures':
        '1':
            'name': 'keyword.control.rpgle'
        '2':
            'name': 'entity.name.function.rpgle'
            'name': 'meta.function.rpgle'
    },
    {
      'match': '\\s(End-Proc;)$'
      'captures':
        '1':
            'name': 'keyword.control.rpgle'
    },
    {
      'match': '\\s(\\/\\/)\\s.*'
      'name': 'comment.line.number-sign'
    },
    {
      'match': '\\s(\\/\\/)=*'
      'name': 'comment.line.number-sign'
    },
    {
      'match': '\\s(Dim(\\.*))\\b'
      'captures':
        '1':
            'name': 'meta.array'
    },
    {
      'match': '\\b(not|acq|add|adddur|alloc|and|bitoff|biton|cab|call|callb|callp|cas|cat|chain|check|checkr|clear|close|commit|comp|dealloc|define|delete|div|dsply|dump|eval|evalr|except|exfmt|exsr|extrct|feod|force|goto|in|iter|kfld|klist|leave|leavesr|lookup|mhhzo|mhlzo|mlhzo|mllzo|monitor|move|movea|movel|mult|mvr|next|occur|on|open|or|other|out|parm|plist|post|read|readc|reade|readp|readpe|realloc|rel|reset|reset|return|rolbk|scan|setgt|setll|setoff|seton|shtdn|sorta|sqrt|sub|subdur|subst|tag|test|testb|testn|testz|time|unlock|update|write|xfoot|xlate|z-add|z-sub)\\b'
      'captures':
        '1':
            'name': 'keyword.operator.rpgle'
    },
    {
      'match': '\\b(Dcl-S|Dcl-C|Dcl-DS|End-DS|Dcl-PI|End-PI)\\b'
      'captures':
        '1':
            'name': 'storage.type.rpgle'
    }
]
