'scopeName': 'source.rpgle'
'name': 'RPGLE'
'fileTypes': ['rpgle', 'sqlrpgle']

'patterns': [
    {
      'match': '\^(\\*\\*FREE)\\b'
      'captures':
        '1':
            'name': 'keyword.control.rpgle'
    },
    {
      'match': '\\b(Dcl-Proc)\\s+\\w'
      'captures':
        '1':
            'name': 'keyword.control.rpgle'
        '2':
            'name': 'entity.name.function.rpgle'
            'name': 'meta.function.rpgle'
    }
]
